.swiper-slide {
    /* height: 00px; */
    background: #F2EEE2;
    
    border-radius: 10px;
    gap: 20px;
    /* line-height: 300px; */
    text-align: center;
  }
  .swiper-slide:nth-child(2) {
    background: #EFE2D2;
  }
  .swiper-slide:nth-child(3) {
    background: #F2EEE2;
  }
 
  .swiper-slide:nth-child(4) {
    background: #EFE2D2;
  }
  .swiper-slide:nth-child(5) {
    background: #F2EEE2;
  }
 
  .swiper-slide:nth-child(6) {
    background: #EFE2D2;
  }
  .swiper-slide:nth-child(7) {
    background: #F2EEE2;
  }